{% extends 'student.html' %}
{% load crispy_forms_tags %}
{% block content %}
<head>
    <style>
        th,td{
        padding:20px;
        }
    </style>
</head>
<div class="col-lg-12 grid-margin stretch-card">
              <div class="card" >
                <div class="card-body">
                  
                  <div class="table-responsive">
                    <table class="table-info" style="width:50%;height:50%">
                        <tbody>
                        <tr>
                            <th>HOSTEL NAME</th>
                            {% for i in data %}
                                <td>{{i.hostel_name}}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>ROOM RENT</th>
                            {% for i in data %}
                                <td>{{i.room_rent}}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>MESS BILL</th>
                            {% for i in data %}
                                <td>{{i.mess_bill}}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>AMOUNT</th>
                            {% for i in data %}
                                <td>{{i.amount}}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>DATE</th>
                            {% for i in data %}
                                <td>{{i.date}}</td>
                            {% endfor %}
                        </tr>
<!--                        <tr>-->
<!--                            <th>ROOM RENT</th>-->
<!--                            {% for i in data %}-->
<!--                                <td>{{i.room_rent}}</td>-->
<!--                            {% endfor %}-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th>TOTAL AMOUNT</th>-->
<!--                            {% for i in data %}-->
<!--                                <td>{{i.amount}}</td>-->
<!--                            {% endfor %}-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th></th>-->
<!--                            <td>-->
<!--                                <a href="{% url 'add_payment' %}" ><button>PAY NOW</button></a></td>-->
<!--                        </tr>-->

                        </tbody>


                    </table>
                  </div>
                </div>
              </div>
            </div>
{% endblock %}